body {
   background-image: url("free-website-background-clipart-11.jpg"); 
   background-color: blue;
   background-size: cover;
}
* {
  font-family: Arial, Verdana, sans-Serif;
  color: orange;
  text-align: center;}
#nav, #feature, .article, #footer, .first, .second, .third, .forth {
  background-color: #efefef;
  margin-top: 30px;
  padding: 5px 0px 5px 0px;}
#feature, .article {
  height: 200px;}
.first {
height: 150px;}
.second {
height: 255px;}
.third {
height: 150px;}
.forth {
height: 175px;}
li {
  display: inline;
  padding: 5px;}
#feedback {
  color: red;
  background-repeat: no-repeat;
  background-position: 550px 10px;
  padding: 10px 0 0 22px;}
#feedback.tip {background-image: url('tip.png');}
// end
