body {
   background-image: url("free-website-background-clipart-11.jpg"); 
   background-color: blue;
   background-size: cover;
   width: 100%;
   height: 100vh;
   margin: 0;
}
* {
  font-family: Arial, Verdana, sans-Serif;
  color: orange;
  text-align: center;}
#nav, #feature, .article, #footer, .first, .second, .third, .forth {
  background-color: #efefef;
  margin-top: 30px;
  padding: 5px 0px 5px 0px;}
#feature, .article {
  height: 200px;}
.first {
height: fit-content;}
.second {
height: fit-content;}
.third {
height: auto;}
.forth {
min-height: 250; 
   overflow: hidden; 
   display: flex;
   justify-content: center;
}
li {
  display: inline;
  padding: 5px;}
#feedback {
  color: red;
  background-repeat: no-repeat;
  background-position: 550px 10px;
  padding: 10px 0 0 22px;}
#feedback.tip {background-image: url('tip.png');}
// end
